body{
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-style:normal;
}
h1{
  color: $color-grey-dark-1;
  font-size: 4.5rem;
  font-weight: 700;
}
h2{
  color: $color-grey-dark-1;
  font-size: 3.5rem;
  font-weight: 700; 
}
h3{
  color: $color-grey-dark-1;
  font-size: 2.5rem;
  font-weight: 700; 
}
h4{
  color: $color-grey-dark-1;
  font-size: 2rem;
  font-weight: 700;
}